/*fonts*/
@font-face {
  font-family: 'starjedi';
  src: url('Starjhol.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
}

.starwars-font {
  font-family: 'starjedi';
  font-size: 5rem;
}

.starwars-text {
  color: rgba(241, 204, 51, 1.0);
}

.center {
  text-align: center;
}

.input-words {
  margin-top: 3rem;
}

#win-modal, #loss-modal {
  z-index: 99;
}

/*#titles {
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
  z-index: -100;
}

#titles:after {
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  pointer-events: none;
}

#titlecontent {
  position: absolute;
  top: 100%;
  animation: scroll 100s linear 4s infinite;
}

@keyframes scroll {
  0% { top: 100%; }
  100% { top: -170%; }
}*/
/*
      <div id="titles">
        <div id="titlecontent">
         <p>It is a period of civil war. Rebel spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire. During the battle, Rebel spies managed to steal secret plans to the Empire’s ultimate weapon, the DEATH STAR, an armored space station with enough power to destroy an entire planet. Pursued by the Empire’s sinister agents, Princess Leia races home aboard her starship, custodian of the stolen plans that can save her people and restore freedom to the galaxy</p>
        </div>
      </div>*/

/*            <dialog id="loss-modal">
        <h3>You loose!</h3>
        <button type="button" id="play-again-loss">Continue to rebel...</button>
        <button type="button" id="dismiss-loss">Go Away</button>
      </dialog>
      <dialog id="win-modal">
        <h3>You win!sdf</h3>
        <button type="button" id="play-again-win">Crush the Empire Again!</button>
        <button type="button" id="dismiss-win">Go Away</button>
      </dialog>*/